.dropdown-menu-container {
  width: 100px;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.dropdown-heading {
  cursor: pointer;
}
.dropdown-header {
  padding: 10px 0px;
  margin-bottom: 10px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdown-header input {
  width: 100%;
  padding: 6px 5px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.dropdown-header input:focus {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.dropdown {
  position: absolute;
  z-index: 2;

  width: 250px;
  background: white;

  display: flex;
  align-items: center;
  justify-content: space-around;
  max-height: 250px;
  left: 100px;
  top: -15px;
  padding: 0.5rem;

  box-shadow: rgba(2, 8, 20, 0.25) 0px 0.175em 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.25);

  transition: display 0.95s ease-out;
  overflow: scroll;
  overflow-x: hidden;

  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  /* background: red; */
  justify-content: flex-start;
}

.dropdown::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.dropdown::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0, 0.8);
}

.dropdown-item {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
  height: 38px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.dropdown-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.dropdown-item span {
  width: 100%;
  user-select: none;
}

.note-line {
  text-align: center;
  color: red;
  font-size: 14px;
  opacity: 0.8;
}
